.DeleteElement {
    color: #f00;
}
p {
    font-size: 13px;
    font-weight: 500;
}
.mat-dialog-container {
    width: 0%;
    max-width: 335px !important;
}
.mat-dialog-actions {
    margin-left: 120px;
}