
<style>

.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {
    padding: 0 16px;
}
</style>

<h2 mat-dialog-title>Деталі рішення</h2>
<mat-dialog-content >
    <mat-list>
        <mat-list-item> 
            <p class="suptext">Рішення</p>
            <p class="mainText">Подтверждена возможность обработки судна </p>   
        </mat-list-item>
        <mat-list-item>        
            <p class="suptext">Дата проставлення рішення</p>
            <p class="mainText"> 30.01.2017 11:42:57  </p>   
        </mat-list-item>
        <mat-list-item>         
            <p class="suptext">Коментар</p>
            <p class="mainText">Тест</p>              
        </mat-list-item>
        <mat-list-item>         
            <p class="suptext">Відповідальна особа</p>
            <p class="mainText"> Кіосак К.А. </p>   
        </mat-list-item>
    </mat-list>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-dialog-close mat-button class="closeDialog">Завершити</button>
</mat-dialog-actions>
